@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(black, red);
}
header {
    text-align: center;
    padding: 10px;
}
h1, h2 {
    color: rgb(202, 0, 0);
}
h3 {
    color: black;
}
nav {
    padding: 10px;
    justify-content: space-evenly;
}
li:hover{
    cursor: pointer;
    background-color: red;
}
li, span {
    display: inline-block;
    padding: 10px;
}
p {
    color: black;
    text-align: justify;
}
footer {
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
img {
    transition: width 2s, heigth 2s;
}
img:hover {
    width: 700px;
    height: 50vh;
}
.titulo {
    justify-content: space-evenly;
}
.cuadrante {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        width: 50%;
        height: 40vh;
    }
    iframe {
        width: 70%;
        height: 30vh;
    }
    .cuadrante {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
/* Smartphone*/
@media (max-width: 480px){
    nav {
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        width: 60%;
        height: 20vh;
    }
    iframe {
        width: 70%;
        height: 30vh;
    }
    .cuadrante {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}